<section>
    <form #fc=ngForm (ngSubmit) = "onsubmit(fc)"> <!--ngSubmit envia as informações para o banco-->
    
        <div class="form-group">
            <label for=""></label>
            <input type="text" class="form-control"  placeholder="nome" [(ngModel)] = "produto.nome" name="nome" required>
            <small id="" class="form-text text-muted"></small>
        </div>
    
          <div class="form-group">
            <label for=""></label>
            <input type="text" class="form-control"  placeholder="descricao" [(ngModel)] = "produto.descricao" name="descricao" required>
            <small class="form-text text-muted"></small>
          </div>
    
        <div class="form-group">
            <label for=""></label>
            <input type="number" class="form-control"  placeholder="quant" [(ngModel)] = "produto.quant" name="quant" required>
            <small class="form-text text-danger"></small>
        </div>
                    
        <div class="form-group">
          <label for=""></label>
          <input type="number" class="form-control"  placeholder="valor" [(ngModel)]="produto.valor" name="valor" required>      
          <small class="form-text text-danger"></small>
        </div>

        <div class="form-group">
          <label for=""></label>
          <input type="checkbox" class="form-control"  placeholder="ativo" [(ngModel)]="produto.ativo" name="ativo" required>      
          <small class="form-text text-danger"></small>
        </div>
                    
        <div class="form-group form-check">
          <button type= "submit" class="btn btn-primary">Salvar</button>
          
          <button type= "reset" class="btn btn-primary ml-2" routerLink="/">Cancelar</button>
        </div>
    
    </form>
    </section>

    <app-list-produto></app-list-produto>
    
