<div class="form-group">
    <label for=""></label>
    <input type="text" class="form-control"  placeholder="CEP" [(ngModel)] = "cep" name="endereco.cep" required minlength="7" maxlength="9" #c="ngModel" (keyup)="buscaCEP($event)">
    <small id="" class="form-text text-danger" *ngIf="c.invalid">CEP invalido</small>
</div>
<div class="form-group">
        <label for=""></label>
        <input type="text" class="form-control"  placeholder="Endereco" [(ngModel)] = "endereco.logradouro" name="logradouro" required>
        <small id="" class="form-text text-muted"></small>
    </div> 

<div class="form-group">
<label for=""></label>
<input type="text" class="form-control"  placeholder="Bairro" [(ngModel)] = "endereco.bairro" name="bairro" required>
<small id="" class="form-text text-muted"></small>
</div>

<div class="form-group">
<label for=""></label>
<input type="text" class="form-control"  placeholder="Cidade" [(ngModel)] = "endereco.localidade" name="localidade" required>
<small class="form-text text-muted"></small>
</div>

<div class="form-group">
<label for=""></label>
<input type="text" class="form-control"  placeholder="Estado" [(ngModel)] = "endereco.uf" name="uf" required>
<small class="form-text text-muted"></small>
</div>
                




